/*SCSS by Ben Kaminski*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Raleway", sans-serif;
  line-height: normal;
}
.footer {
  border-top: 1px solid black;
  background: #222;
  min-height: 235px;
}
.footer-row .col-lg-3 {
  border-right: 1px solid white;
  &:last-child {
    border-right: 0px solid white;
  }
}
.sub-header {
  position: fixed;
  height: 35px;
  width: 100%;
  background: #632523;
}
.sub-footer {
  min-height: 45px;
  border-top: 2px solid #111;
  background: #222;
}
.promo-content {
  width: 100%;
  min-height: 220px;
  background: #fff;
}
.home-galleries {
  width: 100%;
  min-height: 450px;
  background: #632523;
}
.home-services {
  width: 100%;
  min-height: 600px;
  background: #fff;
}
.permanent-lights {
  min-height: 600px;
  background: url("../../../../uploads/day-night.jpg-1024x683-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.options {
  width: 100%;
  min-height: 400px;
  background: #632523;
}
svg {
  max-width: 100%;
}
